.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.footer__column-link:hover {
  transition: .3s linear;
  opacity: .5;
}
